{% extends "../base.html" %}


{% block css %}

{% end %}


{% block js %}
{% end %}


{% block title %}
编辑发放实物
{% end %}

{% block content %}


<form novalidate="" role="form" class="form-horizontal">
    <div class="form-group">
        <label class="col-md-2 control-label">名称</label>
        <div class="col-md-10">
            <input type="text" placeholder="名称" class="form-control" id="name" value="{{ gift['name'] if gift else '' }}">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href="javascript:void(0)" class="btn btn-info btn-xs" onclick="backpg()">返回</a>
            <a href="javascript:void(0)" class="btn btn-danger btn-xs" onclick="edit()">提交</a>
        </div>
    </div>
</form>


{% end %}

{% block require_js %}

<script type="text/javascript">
    var lock = false;

    function edit() {
        if (!confirm("确定执行?"))
            return true;

        var id = '{{ gift["id"] if gift else "" }}';
        var name = $('#name').val();


        if (name.length == 0) {
            alert('请填写名称');
            return;
        }

        if (lock)
            return;
        else
            lock = true;
        //encodeURIComponent
        $.post("/admin/gift", {
            id: id,
            name: name,
        }, function (data) {
            var obj = eval('(' + data + ')');
            console.log(obj)
            if (obj.data == true) {
                backpg();
            }
            else {
                alert('失败')
            }

            lock = false;
        });
    }

</script>
{% end %}
